<div class="notice-area">
  <p id="notice"><%= notice %></p>
</div>

<div id="books-container">
  <h2>Books List</h2>
  <% @books.each do |book| %>
    <div class="book-item">
      <div class="book-item-img">
        <%= image_tag book.image %>
      </div>
      <div class="book-item-content">
        <h3><%= book.title %></h3>
        <br>
        <p><%= book.description %></p>
      </div>
      <% if book.category.name %>
        <div class="book-category-container">
          <p><strong>Category:</strong> <%= book.category.name %></p>
        </div>
        <% end %>
    </div>
  <% end %>
</div>

<div id="book-filter-content">
  <h2>Categories</h2>
  <% @categories.each do |category| %>
    <%= link_to category.name, '/' %>
  <% end %>
</div>
