<!DOCTYPE html>
<html>
  <head>
    <title>AdApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="navbar">
      <div id="navbar-login-content">
        <%= link_to 'Sign Up', '/' %>
        <%= link_to 'Login', '/' %>
      </div>
      <div id="navbar-logo-img">
        <%= image_tag 'logo.png'%>
        <h1>Trello Library</h1>
      </div>
    </div>

    <div id="main-container">
      <%= yield %>
    </div>


    <footer>
      <%= image_tag 'footer_logo.png' %>
    </footer>
  </body>
</html>
